
#viewBox{
	width:750px;
	height:600px;
	border:1px solid black;
	position: absolute;
	background-image: url("../img/inkytown.png");
    background-position-y:-150px;
    background-position-x:-1600px;
	z-index: 1;
}
#player{
	background-image: url("../img/player.png");
	height: 95px;
	width: 84px;
	position: absolute;
	z-index:2;
	
}
#menuBox{
	width:750px;
	height:600px;
	border:1px solid black;
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	z-index: 0;
	text-align: center;
}
.menuTitle{
	color: red;
}
.menuOptions{
	color: red;
}
