#poo{
	position:absolute;
	width:100px; 
	height:100px; 
	background-color: #963;
	z-index:999;
	left: 225px;
}
#floor{
	height:2px;
	width:500px;
	background-color: #333;
	position: absolute;
	top:500px;
	left: 25px;
}
#water-level{
	height:300px;
	width:448px;
	background-color: #0cf;
	position: absolute;
	top:200px;
	left: 52px;
}

#right-wall{
	height:500px;
	width: 2px;
	background-color: #333;
	position: absolute;
	left: 500px;
}
#left-wall{
	height:500px;
	width: 2px;
	background-color: #333;
	left: 50px;
	position: absolute;
	
}
.floater{
	position: absolute;
	background-color: #963;
}